details {
    padding: 0 2rem;
    background-color: #f1f9eb;
    border: 1px solid yellowgreen;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
details:last-child {
    margin-bottom: 0;
}
summary::-webkit-details-marker {
    display: none;
}
summary {
    display: block;
    padding: 0.6rem 2rem 0.6rem 0;
    line-height: 1.2;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
summary::before,
summary::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: #222;
    right: 1rem;
    top: 2.5rem;
}
summary::after {
    transform: rotateZ(90deg);
}
details p {
    margin: 0;
    padding-bottom: 0.3rem;
    line-height: 1.25;
}
details[open] summary::after {
    display: none;
}
ul {
    margin: 0.3rem 0;      /* 위아래 간격 줄이기 */
    padding-left: 1.2rem;  /* 점 위치만 살짝 유지 */
}

li {
    margin: 0;
    padding: 0.15rem 0;    /* 줄 간격 핵심 */
    line-height: 1.2;      /* 텍스트 압축 */
}
